:root {
    /* global */
    --transitionTime: 0.3s;
    --colorWhite: #fff;
    --colorBlack: #000;
    --colorNavy: #232939;
    --colorHighlightBg: #FF69B4;
    --colorHighlightBgFaded: #ff1d8e8e;
    --colorHighlightBgFadedMore: #ff4ba575;
    --colorBgGradient: linear-gradient(to top, rgba(76,167,173,1) 0%, rgb(212 118 179) 50%, rgba(208,66,97,1) 100%);
    /* light */
    --colorBg: #f9f9f9;
    --colorFg: #6c7181;
    --colorFgFaded: #777c8b;
    --colorFgFadedMore: #aeb0b8;
    --colorFgFadedMost: #aeb0b894;
}
* {
    margin: 0;
    padding: 0;
}
a,li,.container,.card-overlay,.palettePopup,label {
    transition-duration: var(--transitionTime);
}
span#highlight {color: var(--colorHighlightBg);}
body {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 16pt; */
    min-height: 100vh;
    color: var(--colorFg);
    background: var(--colorBgGradient);
}
a {
    text-decoration: none;
    color: var(--colorHighlightBg);
}
a:hover {color: var(--colorHighlightBgFaded);}
ul {list-style-type: none;}
p {margin: 1em auto;}
hr {
    margin-bottom: 1em;
    border: 0 2px solid black;
}
.deck {
    margin: auto;
    max-width: 70em;
    display: table;
    /* vertical-align: top; */
    overflow-x: hidden;
    color: var(--colorFg);
    /* background: var(--colorBg); */
}
.card#groupbio,.card#bio,.card#links {
    font-size: 18pt;
    color: var(--colorFg);
    background-color: var(--colorWhite);
    margin: 1em;
    padding: 1.5em;
}
.card#groupbio,.card#bio {max-width: 40em;}
.card#links {
    min-width: 16em;
    max-width: 16em;
    vertical-align: top;
    /* height: 25em; */
    display: inline-block;
    /* float: left; */
    /* position: relative; */
    text-align: center;
    line-height: 2;
}
.card#links span.button,.smolcard {
    display: block;
    color: var(--colorBg);
    background-color: var(--colorHighlightBg);
    border: solid var(--colorBg);
    padding: 20px;
}
.card#links span.button a,.smolcard a {
    color: var(--colorBg);
    transition: background var(--transitionTime);
}
.card#links span.button:hover,.smolcard:hover {
    background-color: var(--colorHighlightBgFadedMore);
    cursor: pointer;
    transition: background var(--transitionTime);
}
.smolcard {
    float: left;
    padding: 1em;
    margin: 0 1%;
}
.card h1 {
    font-size: 30pt;
    margin-bottom: 0.5em;
}
.card h1#left {
    padding: 10px 10px;
    background: linear-gradient(90deg, transparent 0, var(--colorFg) 0, var(--colorFg) 35%, transparent 60%);
    background-size: 100% 5px;
    background-position: 0% 85%;
    background-repeat: no-repeat;
}
.card h1#center {
    padding: 10px 10px -3px;
    background: linear-gradient(90deg, transparent 20%, var(--colorFg) 20%, var(--colorFg) 80%, transparent 80%);
    background-size: 100% 5px;
    background-position: 0% 85%;
    background-repeat: no-repeat;
}
#end {clear: both;}
:target {
    position: relative;
    background-color: var(--colorHighlightBg);
    width: 100%;
    height: 50px;
    animation: 1s shrink 2s forwards;
}
@keyframes shrink {
    from {height: 50px;}
    to {height: 0px;}
}
